@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    font-family: "Poppins";
}

.container {
    margin-left: auto;
    margin-right: auto;
    /* padding: 12px; */
    position: relative;
}

.cards {
    background-color: #fff;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.cards .card img {
    width: 50px;
    position: absolute;
    top: 23px;
    left: 9%;
}

.cards .card {
    position: relative;
    /* border: 1px solid #0004; */
    /* padding: 30px; */
}

/* bad practice because it will crach on responsive */
/* .text{

    margin: 30px;
    padding: 40px 20px;
    background-color: red;
    clip-path: path("M 10,40 L 70,40 A 10,10 0,0,0 80,30 L 80,10 A 10,10 0,0,1 90,0 L 400,0 A 10,10 0,0,1 410,10 L 410,190 A 10,10 0,0,1 400,200 L 10,200 A 10,10 0,0,1 0,190 L 0,50 A 10,10 0,0,1 10,40 Z");
} */

.text {
    clip-path: url("#myResponsivePath");
    background-color: #E7E9ED;
    margin: 30px;
    padding: 60px 30px 30px 30px;
}

.text button {
    border: none;
    background-color: var(--continue-btn);
    border-radius: 7px;
    padding: 10px 25px;
    transition: 0.3s all ease-in-out;
}

.text button:hover {
    scale: 1.1;
}

.text button:active {
    scale: 1.2;
}

main {
  margin-top: 105px;
  padding-top: 13px;
}

@media screen and (max-width: 800px) {
    .cards {
        flex-direction: column;
    }

    .cards .card img {
        left: 10%px;
    }
}